<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mark Fine" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="https://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Mighty</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        mark.fine@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/mfine/">github.com/mfine</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://twitter.com/mytyfine">twitter.com/mytyfine</a>
      </p>
    </div>
    <div class="rss">
      <a href="https://feeds.feedburner.com/mfine">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed"/>
      </a>
    </div>
  </div>
</div>

</body>
</html>
